/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.markdown-rendered .extra-styles-style-ctn {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    padding: 0;
}

.extra-styles-settings-tab .setting-item-control {
    align-items: flex-start;
    justify-content: space-between;
}

.extra-styles-settings-tab
.setting-item-control
:not(.setting-editor-extra-setting-button) 
+ .setting-editor-extra-setting-button {
    margin-left: auto;
}

.extra-styles-settings-tab
.setting-item-control
.setting-editor-extra-setting-button {
    align-self: center;
}

.extra-styles-settings-tab
.setting-item-control
textarea {
    flex-grow: 1;
}

.extra-styles-settings-tab
.extra-styles-setting-add-style
.setting-item-control
{
    justify-content: flex-end;
}

.extra-styles-setting-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    align-items: center;
    padding: 0.75em 0;
    border-top: 1px solid var(--background-modifier-border);
}

.extra-styles-setting-header span {
    text-align: left;
    vertical-align: middle;
    padding: 0px 4px;
    height: var(--input-height);
}

.extra-styles-settings-tab .setting-item-control input[type=text] {
    padding: 0px 4px;
}
.extra-styles-settings-tab .setting-item-control textarea {
    min-height: 10ex;
}
